.panorama {
  margin-bottom: 20px;
  padding: 10px 0 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }
}

.panorama__headline {
  margin: 25px 15px 50px;
  font-weight: @fw-normal;
  font-size: @fs-small;
  line-height: @lh-large;
  text-align: center;
  color: @txt-dark;

  @media (min-width: @tablet-width) {
    margin: 71px 25px 77px;
    font-size: @fs-medium;
  }

  @media (min-width: @desktop-width) {
    margin: 72px 150px 90px;
  }
}

.panorama__image-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.panorama__image {
  width: 100%;
  display: block;

  @media (min-width: @tablet-width) {
    height: 510px;
  }

  @media (min-width: @desktop-width) {
    height: 505px;
  }
}

.panorama__image-text {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 5px 20px;
  font-weight: @fw-bold;
  font-size: @fs-xs;
  line-height: @lh-medium;
  color: @txt-white;
  text-transform: @txt-upper;
  background-color: @bg-red;

  @media (min-width: @tablet-width) {
    top: 59px;
  }

  @media (min-width: @desktop-width) {
    top: 54px;
    right: 130px;
  }
}

.panorama__message {
  margin: 0;
  padding: 17px 0 7px 17px;
  background-color: @bg-grey;

  @media (min-width: @tablet-width) {
    padding: 23px 30px 23px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: start;
  }

  @media (min-width: @desktop-width) {
    padding: 24px 32px 24px 26px;
  }
}

.panorama__name {
  margin: 0 auto;
  font-weight: @fw-bold;
  font-size: @fs-small;
  line-height: @lh-medium;
  color: @txt-dark;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.panorama__time {
  margin: 0 auto;
  font-weight: @fw-light;
  font-size: @fs-xs;
  line-height: @lh-medium;
  color: @txt-dark;
  text-transform: @txt-upper;
}

.panorama__text {
  margin: 0 auto;
  font-size: @fs-small;
  line-height: @lh-medium;
  color: @txt-dark;

  @media (min-width: @tablet-width) {
    order: 1;
    grid-column-end: span 2;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.panorama__likes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
  }
}

.panorama__icon {
  margin-right: 19px;
  fill: @fill-red;

  @media (min-width: @tablet-width) {
    margin-right: 0;
    margin-left: 19px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-left: 16px;
  }
}

.panorama__likes-text {
  margin: 11px 0;
  font-size: @fs-xs;
  line-height: @lh-medium;
  color: @txt-red;
  text-transform: @txt-upper;

  @media (min-width: @tablet-width) {
    margin: 0;
    position: relative;
    top: 2px;
  }
}
